<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<footer class="footer">
  &copy; <%= new Date().getFullYear(); %> Ujjwal Choudhary • Built with NodeJs &
  MongoDB
  <br />
  <br>
  <div id="contact-section">
    <a href="mailto:ujjwal_1804@blogwise.com"target="blank"><i class="fa-brands fa-google fa-xl"></i></a>
    &nbsp;&nbsp;
    <a href="https://www.linkedin.com"target="blank"
      ><i class="fa-brands fa-linkedin fa-xl"></i></i
    ></a>&nbsp;&nbsp;
    <a href="https://twitter.com/"target="blank"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
  </div>
</footer>
